<!DOCTYPE html>
<html lang="en" ng-app="egghead-videos-app" ng-controller="AppController">
<head>
    <title>Egghead get videos</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/main.css">
</head>
<body>
    <div class="row" style="padding-left: 300px;padding-right: 300px;">
        <div class="panel panel-primary panel-root">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <span ng-if="isEmpty(results.data)">Tool get videos</span>
                    <a ng-if="!isEmpty(results.data)" ng-href="{{ results.data.link }}" target="_blank" ng-cloak>
                        {{ results.data.title }} (<b>{{ results.data.items.length }}</b> videos and processed for <b>{{  results.time_elapsed_secs }}</b> seconds )
                    </a>
                </h3>
            </div>
            <div class="panel-body">
                <!-- Form -->
                <form class="form-horizontal" name="egghead_form" novalidate ng-submit="egghead_form.$valid && submit()">
                    <div class="form-group" ng-class="{'has-error': egghead_form.rss_link.$invalid && egghead_form.$submitted}">
                        <label class="control-label col-sm-2" for="rss_link">RSS Link:</label>
                        <div class="col-sm-10">
                            <input type="text" ng-model="data.rss_link" ng-pattern="url_regex" name="rss_link" class="form-control" id="rss_link" placeholder="Enter RSS Link" required>
                            <span class="help-block" ng-cloak ng-show="egghead_form.rss_link.$invalid && egghead_form.$submitted">Please fill out RSS Link</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10 noselect">
                            <label><input type="checkbox" ng-model="data.only_dload">&nbsp;Only show Download link</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-bind="btn_submit">Submit</button>
                        </div>
                    </div>
                </form>

                <!-- Results -->
                <table class="table table-bordered mag-20" ng-if="results.data.items.length" ng-cloak>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Title</th>
                        <th class="text-center">Category</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Author</th>
                        <th class="text-center">Length</th>
                        <th class="text-center">Action</th>
                    </tr>
                    <tr ng-repeat="item in results.data.items track by $index">
                        <td class="text-center">{{ $index + 1 }}</td>
                        <td>
                            <span ng-if="data.only_dload">{{ item.title }}</span>
                            <a ng-if="!data.only_dload" ng-href="{{item.link}}" target="_blank">{{ item.title }}</a>
                        </td>
                        <td>
                            <span ng-if="data.only_dload">{{ item.category }}</span>
                            <a ng-if="!data.only_dload" ng-href="https://egghead.io/technologies/{{item.category}}" target="_blank">{{ item.category }}</a>
                        </td>
                        <td>{{ item.duration }}</td>
                        <td>{{ item.author }}</td>
                        <td>{{ item.length }}</td>
                        <td><a ng-href="{{item.source}}" download="{{ item.source }}" title="Download -> {{ item.title }}">Download</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <!-- SCRIPT -->
    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/underscore/underscore-min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="static/js/main.js"></script>
</body>
</html>